/* Стили для страницы ввода кода восстановления пароля */

body {
    background-color: #1f1f1f;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[name="code"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 2px solid orange;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #555;
}

.invalid-feedback {
    color: red;
    margin-bottom: 10px;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
