<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
<!--    <meta name="keywords" content="эдо, электронный документооборот, пэп, электронная подпись, смс подпись, sms подпись, мобильная подпись">-->

    <title>НАЗВАНИЕ – простая электронная подпись по почте</title>
    <link rel="stylesheet" href="/css/footer-page.css" th:href="@{/css/footer-page.css}">
    <link rel="stylesheet" href="/css/header-page.css" th:href="@{/css/header-page.css}">
<!--    <link rel="stylesheet" href="/css/tyle.css" th:href="@{/css/syle.css}">-->
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<div class="section-about">
    <h1 class="banner__title">
        <span class="banner_span">Cпециализированный сервис эдо для работы с физлицами</span>
    </h1>
    <p class="banner__descr">Последние годы активно развиваются сервисы электронного документооборота для юридических лиц. Все больше и больше компаний уходят от бумажного документооборота, выбирая ЭДО. Однако работа с компаний с физлицами строится на старых принципах.</p>
</div>

<div class="instruction">
    <div class="info_list-block">
        <div class="info_subtitle">Как работать с данным сервисом?</div>
        <ul class="marker">
            <li>Ученик регистрируется на сайте</li>
            <li>вводит вашу почту</li>
            <li>выбирает документы на проверку</li>
            <li>вам приходит код</li>
            <li>вы заходите на сайт, на странице валидатор </li>
            <li>скачиваете документы</li>
            <li>проверяете их</li>
            <li>отправляете ученику обратную связь</li>
        </ul>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>
